<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h2 class="text-secondary"> <i class="fa-solid fa-list-check"></i> New task</h2>

    <%= render "form" %>

    <div class="mt-4">
      <%= link_to tasks_path,  class: "btn btn-primary" do%>
    <i class="fa-solid fa-arrow-left"></i>
        Back to Home Page
  <% end %>
    </div>
  </div>
</div>
